* {
    font-family: 'Sora', sans-serif;
}

h2 {
    font-weight: 800;
}

main {
    min-height: 600px;
}

.navbar-nav {
    margin-left: auto;
}

.carousel-inner div {
    height: 325px;
    object-fit: cover;

}

.carousel-caption {
    top: 58%;
    bottom: auto;
}

