* {
    font-family: 'Sora', sans-serif;
}

h2 {
    font-weight: 800;
}

.navbar-nav {
    margin-left: auto;
}

.carousel-inner div {
    height: 325px;
    object-fit: cover;
}

.table tbody tr:hover{
    font-weight: bold;
    color: #725AC1 !important;
}